@using TGHub.Blazor.Shared.Components

@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>Authorizing</Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated == false)
                    {
                        var redirectUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                        <Redirect To="@($"/login?redirectUrl={redirectUrl}")"/>
                    }
                    else
                    {
                        <p>You don't have access to this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
