@attribute [Authorize]
@page "/posts/create"
@using System.Globalization
@using TGHub.Application
@using TGHub.Application.Resources
@using TGHub.Blazor.Pages.Posts.Models
@using TGHub.Blazor.Pages.Posts.Forms
@inject IStringLocalizer<UiStrings> UiStringsLoc

<PageTitle>@UiStringsLoc[UiStrings.CreatePost] - @Constants.WebSiteName</PageTitle>
<div class="h-full">
    <PostForm Model="@_model" IsEdit="@false" RedirectUrl="@RedirectUrl"/>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? RedirectUrl { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? DefaultDate
    {
        get => _defaultDate?.ToString();
        set => _defaultDate =
            DateOnly.TryParse(value, CultureInfo.InvariantCulture, DateTimeStyles.None, out var date) ? date : null;
    }

    private DateOnly? _defaultDate;
    private readonly PostModel _model = new();

    protected override void OnParametersSet()
    {
        _model.ReleaseDate = _defaultDate;
    }

}