@using TGHub.Domain.Entities
<div class="rounded-full border flex h-12 overflow-hidden">
    <img src="@User.PhotoUrl"
         alt="@User.FirstName?.FirstOrDefault()"
         class="w-16 h-12 rounded-full"/>
    <div class="flex flex-col grow pr-4">
        <div class="text-bold">@User.FirstName @User.LastName</div>
        <div class="text-sm">@User.UserName</div>
    </div>
</div>

@code {

    [Parameter]
    public TgHubUser User { get; set; } = new();

}